<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- SQL Dialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

		<!-- Database Connection Settings -->
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost/ws-ng-42</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">1qaz!QAZ</property>
		<property name="show_sql">true</property>
		<property name="hbm2ddl.auto">create</property>
        <!--do not delete hibernate.temp.use_jdbc_metadata_defaults property !!!
            this property solve
            boot hibernate slow at startup-->
		  <!-- 'hibernate.temp.use_jdbc_metadata_defaults' is a temporary magic value.
			The need for it is intended to be alleviated with future development, thus it is
			not defined as an Environment constant...
			it is used to control whether we should consult the JDBC metadata to determine
			certain Settings default values; it is useful to *not* do this when the database
			may not be available (mainly in tools usage).-->
        <property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>
		<!-- Specifying Session Context -->
		<property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>

		<!-- Mapping With Model Class Containing Annotations -->
		<mapping class="com.ws.ng.database.model.Chapter"/>
		<mapping class="com.ws.ng.database.model.Investigation"/>
		<mapping class="com.ws.ng.database.model.ChapterNode"/>
	</session-factory>
</hibernate-configuration>